section.swiper-slide.bg-dark.overflow-hidden
  .section-home-2.h-full
    div(class='relative h-full')
      div(class='container h-full mx-auto')
        div(class='lg:w-7/12 flex h-full flex-col lg:justify-end justify-evenly xl:gap-20 md:gap-10 gap-5 pb-5')
          div(class='flex flex-col gap-5 py-10 border-b-2 border-white/50 items-start pt-20')
            h1(class='title-h1 capitalize') GIỚI THIỆU
            p(class='title-h2 md:line-clamp-4 line-clamp-2')
              | Sản phẩm truyền thống của PVC-MS là thi công các kết cấu giàn khoan...
              | Sản phẩm truyền thống của PVC-MS là thi công các kết cấu giàn khoan...
              | Sản phẩm truyền thống của PVC-MS là thi công các kết cấu giàn khoan...
            +BtnPrimary()
          div(class='flex flex-col md:gap-10 gap-5 lg:pb-16 pb-5')
            +ItemColsSectionHome2([{number: '40+', unit: 'tỷ VNĐ', desc: 'Hình thành và phát triển'},{number: '100+', unit: 'dự án', desc: 'Đã thực hiện'},{number: '50%', unit: 'nhân sự', desc: 'Đội ngũ chuyên nghiệp'}])
            +ItemColsSectionHome2([{number:'10.000', desc:'Tấn Khối kết cấu có thể hạ thủy'},{number:'125+',desc:'Dự án hoàn thành'},{number:'23ha',desc:'Quy mô bãi cảng thi công'}])
      img(src="/img/building.png", alt="" class='absolute  lg:block hidden right-0 translate-x-1/2 bottom-0 w-1/2 h-full object-cover lozad')