section.swiper-slide.bg-light
  div(class='xl:rem:px-[160px] bg-[url(/img/bg-section-4.png)] bg-cover bg-no-repeat h-full items-center flex flex-col gap-10 lg:justify-center md:justify-evenly justify-center px-4')
    .flex.gap-3.text-center.flex-col
      h1.title-h1(class=' text-[#41924F]') LĨNH VỰC HOẠT ĐỘNG
      p.line-clamp-2 Xí nghiệp cung cấp đa dạng các dịch vụ logistic và cảng biển, từ lưu trữ, vận tải đến xếp dỡ và bảo dưỡng thiết bị
    div(class='relative w-full')
      div(class='swiper scrollswiper-1')
        .swiper-wrapper
          +card("./img/1.jpg", "Dịch vụ Bốc xếp", "Cung cấp các giải pháp bốc xếp hàng hóa chuyên nghiệp, an toàn và hiệu quả.")
          +card("./img/1.jpg", "Dịch vụ Bốc xếp", "Cung cấp các giải pháp bốc xếp hàng hóa chuyên nghiệp, an toàn và hiệu quả.")
          +card("./img/1.jpg", "Dịch vụ Bốc xếp", "Cung cấp các giải pháp bốc xếp hàng hóa chuyên nghiệp, an toàn và hiệu quả.")
          +card("./img/1.jpg", "Dịch vụ Bốc xếp", "Cung cấp các giải pháp bốc xếp hàng hóa chuyên nghiệp, an toàn và hiệu quả.")
          +card("./img/1.jpg", "Dịch vụ Bốc xếp", "Cung cấp các giải pháp bốc xếp hàng hóa chuyên nghiệp, an toàn và hiệu quả.")
          +card("./img/1.jpg", "Dịch vụ Bốc xếp", "Cung cấp các giải pháp bốc xếp hàng hóa chuyên nghiệp, an toàn và hiệu quả.")
          +card("./img/1.jpg", "Dịch vụ Bốc xếp", "Cung cấp các giải pháp bốc xếp hàng hóa chuyên nghiệp, an toàn và hiệu quả.")
          +card("./img/1.jpg", "Dịch vụ Bốc xếp", "Cung cấp các giải pháp bốc xếp hàng hóa chuyên nghiệp, an toàn và hiệu quả.")
          +card("./img/1.jpg", "Dịch vụ Bốc xếp", "Cung cấp các giải pháp bốc xếp hàng hóa chuyên nghiệp, an toàn và hiệu quả.")
          +card("./img/1.jpg", "Dịch vụ Bốc xếp", "Cung cấp các giải pháp bốc xếp hàng hóa chuyên nghiệp, an toàn và hiệu quả.")
      .btn-prev.btn-change
        img(src="/img/chevo-right.svg" alt="" class='w-5 h-5 rotate-180')
      .btn-next.btn-change
        img(src="/img/chevo-right.svg" alt="" class='w-5 h-5 ')
